.hor-item {
  float: right;
}

.userImg {
  width: 19%;
  border-radius: 50%;
  height: 83%;
}

mat-menu {
  position: absolute;
  display: inline;
  z-index: 1;
}

.mat-nav-list .mat-list-item{
  color: #FFFFFF;
}