.posterImg {
    width: 100%;
    height: 75vh;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.arrow {
    font-family: "FontAwesome";
    font-size: 34px;
    color: #ccc;
    text-align: center;
    color: #cecece;
    opacity: 0.6;
}

.bottom-left {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.box {
    direction: ltr;
    font-family: "Eina03-400";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.55;
    
}

.prodImg {
    height: 40vh;
    max-width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.prodImg1 {
    height: 40vh;
    max-width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.pad {
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    font-family: "Eina03-600";
    font-weight: 400;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 20px;
    color: black;
}

.titleBig {
    font-family: "Eina03-600";
    font-weight: 700;
    text-transform: capitalize;
    font-size: 25px;
    line-height: 20px;
    color: black;
}

.middle {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: black;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: black;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}

.box:hover .middle {
    opacity: 1;
}

.box:hover .bottom {
    opacity: 1;
}

.right-border{
    border-right: 1px solid #ccc;
}

.Icon {
    margin: 5px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 100;
}
h6{
    font-size: 1.8rem;
    text-align: left;
    font-family: "Eina03-600";
}
.listItem{
    font-size: 23px;;
}