<section>
  <div class="row">
    <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let prod of data.Products;let ind=index;">
          <mat-grid-tile-header>
            <span>{{prod.sCategory}}</span>
            <br />
            <h4>{{prod.sName}}</h4>
          </mat-grid-tile-header>
          <div class="row">
            <div class="col-md-12">
              <img style="width: 100%;" [src]="prod.aImages[0].downloadURL">
            </div>
          </div>
          <mat-grid-tile-footer>
            <div class="row">
                <div class="col-md-12">
              <span class="strikethrough">{{prod.dPrice | currency:'INR':'symbol'}}</span><br /><span>{{prod.dDiscountPrice | currency:'INR':'symbol'}}</span>
                  </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12 text-right">
                <button matButton type="button" (click)="gotoView(ind)" class="basicbutton"> View</button>
              </div>
            </div>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</section>