<section style="padding:25px;">
  <div class="row" *ngIf="Order.sOrderStatus != 'OS00' && Order.sOrderStatus != 'OS99' && Order.sOrderStatus != 'OS2'">
    <div class="col-md-9 right-border">
      <mat-horizontal-stepper [linear]="isLinear" #buyStepper>
        <mat-step [stepControl]="firstFormGroup" class="card">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Personal Information</ng-template>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-lg-4" *ngFor="let addr of basicFields;let ind=index">
                <app-field [field]="addr" [form]="basicData"></app-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <button mat-button class="basicbutton white" matStepperNext>Next</button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" class="card">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Address Details</ng-template>
            <div class="row">
              <h6>Select From Existing Address</h6>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4 " *ngFor="let addr of userData.aAddress;let j=index;">
                <div class="row card" style="padding: 25px;">
                  <h4>{{addr.sType}}</h4>
                  <h6>{{addr.sAddrContact}}</h6>
                  <span>{{addr.sLine1}}, {{addr.sLine2}}.</span>
                  <span>{{addr.sLandMark}}, {{addr.sLine2}}.</span>
                  <span>{{addr.sCity}}, {{addr.sState}},</span>
                  <span>{{addr.sCountry}}.</span>
                  <span>{{addr.sPhoneNumber}}</span>
                  <br />
                  <button matButton type="button" class="basicbutton example-full-width" (click)="setAddr(j)">
                    select</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <h6>Shipping Address</h6>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-lg-4" *ngFor="let addr of addrFields;let ind=index">
                <app-field [field]="addr" [form]="form"></app-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-left">
                <button mat-button class="basicbutton" matStepperPrevious>Back</button>
              </div>
              <div class="col-md-6 text-right">
                <button mat-button class="basicbutton" matStepperNext
                  (click)="data.updateUserDetls(data.Users)">Next</button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step class="card" [stepControl]="thirdFormGroup">
          <ng-template matStepLabel>Place Order</ng-template>
          <form [formGroup]="thirdFormGroup">
            <div class="row">
              <div class="col-md-12">
                <table class="table text-left">
                  <tbody>
                    <tr>
                      <th>Sr. No</th>
                      <th>Product Name</th>
                      <th>Quantity</th>
                      <th>Amount</th>
                    </tr>
                    <tr *ngFor="let product of Order.aProduct;let ind=index;">
                      <td>{{ind + 1}}</td>
                      <td>{{product.sProductName}}</td>
                      <td>{{product.sQuantity}}</td>
                      <td>{{product.dAmount | currency:'INR':'symbol'}}</td>
                    </tr>
                    <tr>
                      <th>Total Amount</th>
                      <td colspan="3" class="text-right">{{Order.dTotalAmount | currency:'INR':'symbol'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <hr>
            <div class="row card">
              <div class="col-md-12" style="margin-top: 10px;">
                <h6>Offers</h6>
              </div>
              <hr>
              <div class="col-md-12" style="padding: 20px;" *ngFor="let promo of promocodes;let promoI=index;">
                <hr *ngIf="promoI!=0">
                <div class="row">
                  <div class="col-md-6 text-left">
                    <h4 class="text-left" style="color: orange;">{{promo.sName}}</h4>
                  </div>
                  <div class="col-md-6 text-right">
                    <button mat-button class="basicbutton" (click)="selectPromocode(promoI)"> Select</button>
                  </div>
                  <div class="col-md-12">
                    <p>{{promo.sDescription}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-left">
                <button mat-button class="basicbutton" matStepperPrevious>Back</button>
              </div>
              <div class="col-md-6 text-right">
                <button mat-button class="basicbutton" (click)="buy()">Place Order</button>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <tr>
                <th class="text-left">Total Items</th>
                <td class="text-right">{{Order.dTotalQuantity}}</td>
              </tr>
              <tr>
                <th class="text-left">Total Amount (Inclusive of taxes.)</th>
                <td class="text-right">{{Order.dActualPrice}}</td>
              </tr>
              <tr>
                <th class="text-left">Total Tax</th>
                <td class="text-right">{{Order.dTaxAmount}}</td>
              </tr>
              <tr>
                <th class="text-left">Delivery Charges</th>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th class="text-left">Total Discount</th>
                <td class="text-right" style="color: greenyellow;font-weight: 700">-
                  {{Order.dDiscountPrice | currency:'INR':'symbol'}}
                </td>
              </tr>
              <tr>
                <th class="text-left">Promotion applied</th>
                <td class="text-right" style="color: orange;font-weight: 700;">-
                  {{Order.dPromotionPrice | currency:'INR':'symbol'}}</td>
              </tr>
              <tr>
                <th class="text-left">Final Amount Payable</th>
                <td class="text-right" style="font-weight: 700">{{Order.dTotalAmount | currency:'INR':'symbol'}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-12 text-center">
          <button matButton type="button" style="min-width:0px !important;" class="darkButton" (click)="goto()">
            CANCEL</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="Order.sOrderStatus == 'OS00' || Order.sOrderStatus == 'OS99' || Order.sOrderStatus == 'OS2'">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center card">
      <div style="margin-bottom:30px;margin-top:30px;">
        <h6 *ngIf="Order.sOrderStatus == 'OS2'">Your Order {{Order.sOrderNo}} has been Successfully placed.</h6>
        <h6 *ngIf="Order.sOrderStatus == 'OS00'">Payment Your Order {{Order.sOrderNo}} has failed.</h6>
        <h6 *ngIf="Order.sOrderStatus == 'OS99'">Payment Your Order {{Order.sOrderNo}} is still Pending.</h6>
      </div>
      <div style="margin-bottom:30px;">
        <button mat-button class="darkButton" (click)="buy()" *ngIf="Order.sOrderStatus == 'OS00'">Retry
          Payment</button>
        <button mat-button class="darkButton" (click)="goto()"
          *ngIf="Order.sOrderStatus == 'OS2' || Order.sOrderStatus == 'OS99'">Continue Shopping</button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</section>
<div style="display:none;">
  <div class="col-md-12" id="print-section">
    <table class="border">
      <tbody>
        <tr class="borderStyle">
          <th class="borderStyle">Order No.</th>
          <th colspan="3">{{Order.sOrderNo}}</th>
        </tr>
        <tr class="borderStyle">
          <th class="borderStyle">Sr No.</th>
          <th class="borderStyle">Product Name </th>
          <th class="borderStyle">Quantity</th>
          <th class="borderStyle"> Amount Per Item</th>
        </tr>
        <tr class="borderStyle" *ngFor="let product of Order.aProduct;let ind=index">
          <td class="borderStyle">{{ind + 1}}</td>
          <td class="borderStyle">
            {{product.sProductName}}
          </td>
          <td class="borderStyle">
            {{product.sQuantity}}
          </td>
          <td class="borderStyle">{{product.dAmount | currency:'INR':'symbol'}}</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th class="text-left borderStyle">Total Items</th>
          <td class="text-right borderStyle">{{Order.dTotalQuantity}}</td>
          <th class="text-left borderStyle">Total Amount</th>
          <td class="text-right borderStyle">{{Order.dTotalAmount | currency:'INR':'symbol'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>