<section style="padding:25px;">
  <div class="row card">
    <div class="col-md-12 col-lg-12" style="margin-top: 10px;">
      <h4>MY ORDERS</h4>
    </div>
    <hr>
    <div class="col-md-12 col-lg-12">
      <ul>
        <li *ngFor="let order of orders;let ind=index;">
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div style="margin-bottom: 10px;">
                <h4>
                  {{order.sOrderNo}}
                </h4>
              </div>
              <div class="card" style="padding: 30px;">
                <h6 style="font-weight: 600;">SHIPPING ADDRESS</h6>
                <span>{{order.oDeliveryAddr.sAddrContact}} ({{order.oDeliveryAddr.sPhoneNumber}})</span>
                <span>{{order.oDeliveryAddr.sLine1}}, {{order.oDeliveryAddr.sLine2}}.</span>
                <span>{{order.oDeliveryAddr.sLine2}}.</span>
                <span>{{order.oDeliveryAddr.sLandMark}}, {{order.oDeliveryAddr.sCity}}, {{order.oDeliveryAddr.sState}},</span>
                <span>{{order.oDeliveryAddr.sCountry}}.</span>
                <br />
              </div>
            </div>
            <div class="col-md-6 col-lg-6 text-center">
                <h4>
                    &nbsp;
                  </h4>
              <div class="card">
                <table class="table">
                  <tbody>
                    <tr>
                      <th class="text-left">Total Items</th>
                      <td class="text-right">{{order.aProduct.length}}</td>
                    </tr>
                    <tr>
                      <th class="text-left">Total Amount</th>
                      <td class="text-right">{{order.dTotalAmount | currency:'INR':'symbol'}}</td>
                    </tr>
                    <!--  <tr>
                    <th colspan="2">
                      Promo Codes
                    </th>
                  </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 text-right">
              <span class="orangered" style="font-weight: 600;font-size:14px">{{order.sOrderViewStatus}}</span>
            </div>
          </div>
          <div class="row card" *ngIf="selectedTrack==ind">
            <div class="col-md-12 col-lg-12" style="margin-top: 10px;">
              <h6>Order Tracking Details</h6>
            </div>
            <div class="col-md-12 col-lg-12">
              <mat-vertical-stepper [linear]="isLinear" #buyStepper>
                <mat-step [stepControl]="firstFormGroup" *ngFor="let track of order.aOrderTrack;">
                  <form [formGroup]="firstFormGroup">
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <span class="orangered" style="font-weight: 600;font-size:14px">Status: {{track.status}}</span>
                      </div>
                      <div class="col-md-6 text-right">
                        <p style="font-weight: 600;font-size:14px">OnDate: {{order.dtDate | date: 'dd/MM/yyyy, h:mm a'}}</p>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12 text-left">
                        <span style="font-weight: 600;font-size:14px">Description: {{track.sRemarks}}</span>
                      </div>
                    </div>
                  </form>
                </mat-step>
              </mat-vertical-stepper>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 text-right">
              <button matButton type="button" class="darkButton" (click)="track(ind)"> TRACK ORDER</button>
            </div>
            <div class="col-md-2 text-right">
              <button matButton type="button" class="darkButton" (click)="cancel(ind)"> CANCEL ORDER</button>
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>
</section>