<section style="margin-top:10px;">
  <div class="row">
    <div class="col-md-6 text-left">
      <h4>Items in Cart</h4>
    </div>
    <div class="col-md-6 text-right">
      <button matButton type="button" class="basicbutton" (click)="buyAll()"> Buy All</button>
    </div>
  </div>
  <hr>
  <div *ngFor="let cart of myCart;let ind=index;" class="card">
    <div class="row">
      <div class="col-md-6 text-left">
        <span>{{cart.ProdDetls.sCategory}}</span>
        <br />
        <h4>{{cart.ProdDetls.sName}} ({{cart.sQuantity}})</h4>
      </div>
      <div class="col-md-6 text-right">
        <span class="strikethrough">{{cart.ProdDetls.dPrice | currency:'INR':'symbol'}}</span>&nbsp;&nbsp;<h4>{{cart.ProdDetls.dDiscountPrice
          | currency:'INR':'symbol'}}</h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 text-left">
        <button matButton type="button" class="basicbutton" (click)="delete(ind)"> Delete</button>
      </div>
      <div class="col-md-6 text-right">
        <button matButton type="button" class="basicbutton" (click)="view(ind)"> View</button>
        <button matButton type="button" class="basicbutton" (click)="buy(ind)"> Buy</button>
      </div>
    </div>
  </div>
</section>