.showImg {
    width: 100%;
    height: 80vh;
}

h4 {
    font-family: "Eina03-400";
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.greyColor {
    color: #666;
}

.control-label {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto 10px auto 0;
    min-width: 70px;
}

.product-description {
    line-height: 2;
    margin-bottom: 1rem;
    color: #777777;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    text-align: justify;
    background-color: #ffffff;
}
.left-center {
    position: absolute;
    top: 50%;
    left: 0px;
}
.right-center {
    position: absolute;
    top: 50%;
    right: 0px;
}
.card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 3px 1px rgba(50,50,50,.04);
    border-radius: 0;
    border: 1px solid #e1e1e1;
    border-top-width: 3px;
    margin: 0 0 20px;
    padding: 0;
}
.arrow{
    font-family: "FontAwesome";
    font-size: 34px;
    color: #ccc;
    text-align: center;
    color: #cecece;
    opacity: 0.6;
}