.showImg {
    width: 100%;
    height: 80vh;
}

h4 {
    font-family: "Eina03-400";
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.greyColor {
    color: #666;
}

.control-label {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto 10px auto 0;
    min-width: 70px;
}

.product-description {
    line-height: 2;
    margin-bottom: 1rem;
    color: #777777;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    text-align: justify;
    background-color: #ffffff;
}