<section style="padding:25px;">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 card">
      <div class="left-center">
        <a (click)="poster('prev')"><i class="fa fa-chevron-left arrow"></i> </a>
      </div>
      <img [src]="selectedImgUrl" class="showImg">
      <div class="right-center">
        <a (click)="poster('next')"><i class="fa fa-chevron-right arrow"></i></a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="row">
        <div class="col-md-12">
          <h4>{{product.sName}}</h4>
        </div>
        <div class="col-md-12" style="margin-bottom:10px;">
          <span [ngClass]="product.dAvgRating>=1 ? 'fa fa-star rating':'fa fa-star'"></span>
          <span [ngClass]="product.dAvgRating>=2 ? 'fa fa-star rating':'fa fa-star'"></span>
          <span [ngClass]="product.dAvgRating>=3 ? 'fa fa-star rating':'fa fa-star'"></span>
          <span [ngClass]="product.dAvgRating>=4 ? 'fa fa-star rating':'fa fa-star'"></span>
          <span [ngClass]="product.dAvgRating>=5 ? 'fa fa-star rating':'fa fa-star'"></span>
        </div>
        <div class="col-md-12" style="margin-bottom:10px;">
          <span class="strikethrough">{{product.dPrice | currency:'INR':'symbol'}}</span>&nbsp;&nbsp;<h4>{{product.dDiscountPrice
            | currency:'INR':'symbol'}}</h4>&nbsp;&nbsp;<span>{{product.dDiscountPercent}} % off</span>
        </div>
        <div class="col-md-12" style="margin-bottom:10px;">
          <span class="control-label">{{product.sShortDesc}}</span>
        </div>
        <div class="col-md-12" style="margin-bottom:10px;">
          <span class="control-label">QUANTITY</span>
          <input type="number" style="width:50px;" min="1" [(ngModel)]="dQuantitiy">
        </div>
        <div class="col-md-6" style="margin-bottom:10px;">
          <button matButton type="button" class="darkButton example-full-width" (click)="addToCart('wishlist')"> Add to
            WishList</button>
        </div>
        <div class="col-md-6" style="margin-bottom:10px;">
          <button matButton type="button" class="darkButton example-full-width" *ngIf="product.dStockAvailable>12" (click)="addToCart('cart')"> Add to
            Cart</button>
        </div>
        <div class="col-md-12 text-right" style="margin-bottom:10px;">
          <button matButton type="button" class="darkButton example-full-width" (click)="buy()"> Buy</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="margin-top:10px;">
    <div class="col-md-12">
      <h4>DESCRIPTION</h4>
    </div>
    <div class="col-md-12" style="padding:20px;">
      <p class="product-description">{{product.sProductDesc}}</p>
    </div>
  </div>
  <hr>
  <div class="row" style="margin-top:10px;">
    <div class="col-md-12">
      <h4>Product Reviews</h4>
    </div>
  </div>
  <hr>
  <div class="row" style="margin-top:10px;" *ngFor="let review of product.aReviews">
    <div class="col-md-12 col-sm-12 col-lg-12 text-left">
      <h6>{{review.sUserName}}</h6><span>{{review.dtDate | date: 'dd/MM/yyyy, h:mm a'}}</span><br>
      <span (click)="review.dRating=1" [ngClass]="dRating>=1 ? 'fa fa-star rating':'fa fa-star'"></span>
      <span (click)="review.dRating=2" [ngClass]="dRating>=2 ? 'fa fa-star rating':'fa fa-star'"></span>
      <span (click)="review.dRating=3" [ngClass]="dRating>=3 ? 'fa fa-star rating':'fa fa-star'"></span>
      <span (click)="review.dRating=4" [ngClass]="dRating>=4 ? 'fa fa-star rating':'fa fa-star'"></span>
      <span (click)="review.dRating=5" [ngClass]="dRating>=5 ? 'fa fa-star rating':'fa fa-star'"></span>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <p class="product-description">{{review.sDescription}}</p>
    </div>
  </div>
  <div class="row card" style="margin-top:10px;">
    <div class="col-md-12">
      <h4>Write your Product Review</h4>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 text-left">
      <span (click)="setRating(1)" [ngClass]="dRating>=1 ? 'fa fa-star rating':'fa fa-star'"></span>
      <span (click)="setRating(2)" [ngClass]="dRating>=2 ? 'fa fa-star rating':'fa fa-star'"></span>
      <span (click)="setRating(3)" [ngClass]="dRating>=3 ? 'fa fa-star rating':'fa fa-star'"></span>
      <span (click)="setRating(4)" [ngClass]="dRating>=4 ? 'fa fa-star rating':'fa fa-star'"></span>
      <span (click)="setRating(5)" [ngClass]="dRating>=5 ? 'fa fa-star rating':'fa fa-star'"></span>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 ">
      <mat-form-field class="remarks-area example-full-width">
        <textarea matInput matTextareaAutosize name="Remarks" placeholder="Write your review here"
          [(ngModel)]="reviewDesc"></textarea>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 text-right" style="margin-bottom:10px;">
      <button matButton type="button" class="darkButton example-full-width" (click)="addReview()"> Add Review</button>
    </div>
  </div>
</section>