/* You can add global styles to this file, and also import other style files */
.dark-bg{
    background-color: #082331;
}
.white-bg{
    background-color: #FFFFFF;
}
.row{
    margin: 0px;
}
.white{
    color: #FFFFFF
}
.text-center{
    text-align: center;
}
.margTop{
    margin-top: 15px;
}
.light-bg{
    background-color: #a5eaf9;  
}
.text-left{
    text-align: left;
}
input{
    width: 80%;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 0px;
    padding: 5px;
}
section{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    background-color: #FFFFFF;
}
.container{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;;
    width: 100%;
    background-color: #FFFFFF;
}
mat-grid-tile{
    box-shadow: 0px 0px 6px 1px #BDBDBD;
    background-color: #FFFFFF;
    border-radius: 15px;
}
mat-grid-list{
    margin: 15px;
}