/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dark-bg {
    background-color: #082331;
}

.trans-bg {
    background: transparent;
}

.white-bg {
    background-color: #FFFFFF;
}

.row {
    margin: 0px;
}

.white {
    color: #FFFFFF
}

.margTop {
    margin-top: 15px;
}

.strikethrough {
    text-decoration: line-through;
  }

.light-bg {
    background-color: #a5eaf9;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

input {
    width: 80%;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 0px;
    padding: 5px;
}

section {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    background-color: #FFFFFF;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    ;
    width: 100%;
    background-color: #FFFFFF;
}

.basicbutton {
    background-color: #082331;
    border: transparent;
    border-radius: 5px;
    color: #FFFFFF;
}
.example-full-width{
    width: 100%;
}
.card {
    box-shadow: 0px 0px 6px 1px #BDBDBD;
    border-radius: 5px;
    padding: 7px 7px 5px 11px;
    margin: 5px;
}

mat-grid-tile {
    box-shadow: 0px 0px 6px 1px #BDBDBD;
    background-color: #FFFFFF;
    border-radius: 15px;
}

mat-grid-list {
    margin: 15px;
}
mat-grid-tile-header{
    background-color: #082331 !important;
}
mat-grid-tile-footer{
    background-color: #082331 !important;
}
mat-progress-bar{
    height: 3px !important;
    color: #7988d4!important;
}
:ng-deep .mat-progress-bar-fill::after {
    background-color: #7988d4;
}

::ng-deep .mat-progress-bar-buffer {
    background: #7988d4;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}