<section style="padding:25px;" *ngIf="!data.loading">
  <div class="row" style="margin-top:10px;">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <h4>About us:</h4>
    </div>
    <div class="col-md-12" style="padding:20px;">
      <p class="product-description"><span>Your Mystique Store…</span> The beginning that reveals the rest/the modern
        essence/Fragrances that exclaim you/to where desire leads you/It’s time to up the scent game/

        YourMystiqueStore venture sprouted out of a long desire and passion to cater to customers mystique products and
        services. It’s a young company with a vision and mission to grow into an exquisite brand.
        We will be working to procure creative, innovation and quality products for our customers. This will be backed
        with an excellent shopping experience and efficient product delivery service.
        <br>
        All products showcased throughout www.yourmystiquestore.com are original brand.
        <br>
        It is our desire to offer you great selection and prices. And it will be our endeavor to provide you with the
        best shopping experience that is enjoyable and satisfying.
        <br>
        We are not responsible for any typographical errors or inaccuracies set forth in this website. The information,
        prices, and discounts set forth herein are subject to change without notice.
        If the UPC codes or any other tracking codes are missing, altered or defaced from any product box or bottle, it
        was not done by the manufacturer and occurred in the supply chain after it left the manufacturer.
        Please also note that product pictures may vary.
      </p>
      <hr>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <h4>Return & Refund Policy :</h4>
    </div>
    <div class="col-md-12" style="padding:20px;">
      <div class="row">
        <div class="col-md-6">
          <p class="product-description">
            <span>Return Policy</span>
            <br>
            In order to return merchandise, you must obtain an RMA number (Reentry into warehouse stock) from our
            customer
            service department. (Complain Form).

            You may return any unopened merchandise (except Skincare, Haircare, and Makeup items) in its original
            condition,
            including original packaging and packing slip within 30 days of receipt and you will receive a full refund
            less
            shipping and any gift wrapping charges.

            Any shipping cost you incur to return the product to us will not be refunded.

            Shipping cost is non-refundable for undelivered, unclaimed or returned packages, unless we made an error.

            We do not offer refunds or exchanges on Skincare, Haircare, or Makeup items due to health reasons. Please
            make
            your selections carefully.
          </p>
        </div>
        <div class="col-md-6">
          <p class="product-description">
            <span>Please return the merchandise to: </span>
            <br>
            YourMystiqueStore - Return Dept., IC Colony, Borivali West – Mumbai
             
            All returns must be shipped back to YourMystiqueStore using a trackable courier.

            Any package that has not been received by YourMystiqueStore and tracking information cannot be provided,
            will be
            the sole responsibility of the shipper.

            **Please allow up to 14 business days to process your return or exchange.

            If your package is returned to YourMystiqueStore marked as "refused", "unclaimed", or "undeliverable", and
            you
            would like to have it re-shipped, we will unfortunately need to charge a re-shipping fee.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="product-description">
            <span>Cancel Your Order</span>
            <br>
            Since we use automated order processing and warehouse systems, we are unable to cancel or modify your order
            once
            it has been submitted. If you have any other questions, please contact our customer service department.

            YourMystiqueStore - Return Dept., IC Colony, Borivali West – Mumbai
            Tel – xxxxxxxxxxxxxxxxxxxxx and Email ID – yourmystiquestore@gmail.com
          </p>
        </div>
        <div class="col-md-6">
          <p class="product-description">
            <span>Claims</span>
            <br>
            You must notify us within 15 days from the date of your order if you have not received your package.
          </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <h4>FAQs :</h4>
    </div>
    <div class="col-md-6" style="padding:20px;">
      <p class="product-description">
        <span>What should I do if I received the wrong item or a defective product?</span>
        <br>
        We apologize that you received the wrong item or a defective product. Click here (give link to Refund &
        Cancellation Policy) to get the return process started.
        <br>
        <span>I returned an item that I purchased, and I have not received my refund. How long do I need to wait to
          receive my refund?</span>
        <br>
        Credit card refunds can typically take 3-7 business days to appear on your account (depending on your bank).
        Your credit will appear against your original form of payment. PayPal and PayPal Credit refunds can typically
        take 3-7 business days.
        <br>
        <span>I haven't received my order, how do I check my order status?</span>
        <br>
        Please click here (courier tracking link) to check the status of your order online. If you are unable to login
        please email us by clicking here. (give a form for name and order details for us to receive and check)
        <br>
        <span>I haven't received my order, how do I check my order status?</span>
        <br>
        Please click here (courier tracking link) to check the status of your order online. If you are unable to login
        please email us by clicking here. (give a form for name and order details for us to receive and check)
        <br>
        <span>I can't find my order confirmation email to check the status of my order. What should I do?</span>
        <br>
        You can check the status of your order by emailing us. Please click here to get started. Please also check
        your
        SPAM or JUNK folder in your email account to see if the order confirmation email is there.
        <br>
        <span>
          I am unable to place an order because you don't ship to my country. What can I do?
        </span>
        <br>
        We apologize that we don't offer delivery to your destination however please click here to see if your country
        has been added to our list of countries we ship to.

        <br>
        <span>
          How long does it take to ship to a country, or territory, outside the 48 continental United States?
        </span>
        <br>
        Please refer to the International Shipping calculator by clicking here. (give courier link with relevant page)


      </p>
    </div>
    <div class="col-md-6" style="padding:20px;">
      <p class="product-description">
        <span>
          How do I sign-up for paytm?
        </span>
        <br>
        You can sign up for a PayPal account by going to: https://paytm.com/

        <br>
        <span>
          I have questions about my paytm account, who do I contact?
        </span>
        <br>
        https://paytm.com/

        <br>
        <span>
          Is it safe to use my credit card on your site?
        </span>
        <br>
        Yes, yourmystiquestore.com takes the security of our customer's information very seriously! Our website is
        PCI-compliant, uses SSL technology, and encryption techniques to ensure it is safe and secure to shop in our
        site.

        <br>
        <span>
          Do you sell yourmystiquestore.com Gift Certificates/Gift Cards?
        </span>
        <br>
        Gift certificates make the perfect gift. Click here (give link to relevant page) to get started.
        <br>
        <span>
          How can I receive coupons and be made aware of upcoming specials and sales?
        </span>
        <br>
        Please click here to register as a new customer and start taking advantage of our specials and coupons.

        <br>
        <span>
          How do I unsubscribe from your mailing list?
        </span>
        <br>
        You can unsubscribe from our mailing list by emailing us. Click here to get started.

        <br>
        <span>
          My email address has changed, how do I update this information?
        </span>
        <br>
        If you had previously created a web account with us click here to log in and change your email address.
        Otherwise please register here to create a new account with your new email address.
        <br>
        <span>
          I received an email that my order is on hold. Why is my order on hold? What should I do?
        </span>
        In order to ensure a safe shopping experience, we may place an order on hold and ask our customers to confirm
        specific information. Please refer to the email we sent you and provide us with the requested information in
        order to continue processing your order.
      </p>
    </div>
  </div>
</section>