<section style="padding:25px;" *ngIf="!data.loading">
  <div class="row" style="margin-top:10px;">
    <div class="col-md-12" style="padding:20px;">
      <p class="product-description"><span>Archit Enterprises </span>
        is a wholesale supplier and retail seller of <span>SHEETAL ICECREAMS</span>. We have a outlet for retail sale at sadashiv
        peth, Pune.
        <br>
        We provide Storage for Retail sellers and supply of Sheetal Icecream products to retailers in certain parts
        of Pune. 
        <br>
        We have the best storage facility and provide prompt delivery to retailers.
        <br> <span>Akshay and Archit Harsule</span> jointly own and maintain Archit Enterprises.
        <br>
        Contact us at architenterprises80@gmail.com or <span>8237565650</span> / <span>8237037899</span>.
        <br>
        <a href="https://goo.gl/maps/sAkuGzmFq63UffkT7">Locate us here.</a>
      </p>
      <hr>
    </div>
  </div>
</section>