h4 {
    font-family: "Eina03-400";
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

span{
    font-weight: 700;
    color: black;
    font-size: 20px;
}

.product-description {
    line-height: 2;
    margin-bottom: 1rem;
    color: #777777;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    text-align: justify;
    background-color: #ffffff;
}
